body {
  background-color: white;
}

header {
  background-color: black;
  background-color: black;
  font-size: larger;
}
.top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.top-bar a{
    color: white;
}
.p{
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

p2{
    font-size: x-small;
    font-style: italic;
}

body {
  padding: top 25px;
  flex-direction: row-reverse;
  text-align: center;
  grid-auto-flow: row;
}

footer {
  padding: 25px;
  img {
    float: center;
    text-align: center;
  }
}

h3{
    background-color: black;
    color: aliceblue;
    border-width: 200px;
}

aside{
    background-color: gainsboro;
    flex-direction: column;

}

article a{
color:black;
}