html {
  font-size: 62.5%; 
}



body {
  margin: 0;
  font-family: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: #444;
  background: #022c43;
  overflow: hidden;
  display: block; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body {
  background-color: white;
}

header {
  background-color: black;
  background-color: black;
  font-size: larger;
}
.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.top-bar a {
  color: white;
}
.p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

.super-small {
  font-size: x-small;
  font-style: italic;
}

body {
  padding: top 25px;
  flex-direction: row-reverse;
  text-align: center;
  grid-auto-flow: row;
}

footer {
  display: flex;
  flex-direction: column;
}

h3 {
  background-color: black;
  color: white;
  align-self: baseline;
}
.flex-container{
    display: flex;
    flex-direction: column;
}

.container-1{
    display: flex;
    flex-direction: column;
    border-style: groove;
    background-color: white;
    color: black; 
}

.container0{
    display: flex;
    flex-direction: column;
    border-style: groove;
    background-color: white;
    color: black; 
}
.container1 {
  display: flex;
  flex-direction: column;
  border-style: groove;
  background-color: white;
  color: black;
}

.container2{
    display: row;
    border-style: groove;
    background-color: white;
    color:black;
}
.different-text {
font-style: italic;
font-size:x-large;
background-color: black;
color: white;
}

.footnote{

    align-items:flex-end;
}

article a {
  color: black;
} */
